<ul class="list-group flex-column mb-auto">

  {% comment %} the "All" feed {% endcomment %}
  {% url 'all_subed_feed' as all_url %}
  <a href="{% url 'all_subed_feed' %}" class="list-group-item list-group-item-action {% if request.path == all_url %}active{% endif %}">
    All
  </a>

  {% comment %} list of all folders {% endcomment %}
  {% for lifolder in request.user.source_folders.all %}
    {% include 'folders/sidebar/folder_menu_item.html' %}
  {% endfor %}

  {% comment %} new folder button {% endcomment %}
  {% include 'folders/sidebar/create_folder_btn.html' %}
</ul>