<div class="card card-body">
  <div class="btn-toolbar g-2" role="toolbar" aria-label="Toolbar with button groups">

      {% comment %} icon {% endcomment %}
      {% if feed.image_url %}
      <div class="btn-group pe-3 pt-1" role="group" aria-label="Basic example">
        <a href="{% url 'one_feed' id=feed.id %}">
          <img src="{{ feed.image_url }}" height="40" class="rounded ms-2" alt="Image">
        </a>
      </div>
      {% endif %}

      {% comment %} title {% endcomment %}
      <div class="flex-fill p-1 mx-1">
        <a class="ms-2" href="{% url 'one_feed' id=feed.id %}">
          {{ feed.display_name }}
        </a>
      </div>

      {% comment %} left button group {% endcomment %}
      <div class="btn-group pe-3 pt-1" role="group" aria-label="Basic example">
        {% include 'subscriptions/unsubscribe_btn.html' with id=feed.id %}
      </div>

  </div>
</div>