{% extends 'site_base/base.html' %}

{% block content %}
<!-- search bar form -->
<div class="row">
    <div class="col-lg-8 mx-auto">

        <form action="{% url 'subscriptions' %}" method="post">
            {% csrf_token %}
            <div class="d-flex m-2">
                
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" name="search_text" maxlength="512" class="form-control" placeholder="Search" title="" required=False id="id_search_text" 
                {% if form.search_text.value %}
                value="{{form.search_text.value}}"
                {% endif %}
                >
                
            </div>
        </form>

    </div>
</div>

<!-- list of subscriptions -->
<div class="row">
    <div class="col-lg-8 mx-auto">
        {% for sub in subscriptions %}
        <div class="card card-body">

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                <!-- source image -->
                {% if sub.source.image_url %}
                <a href="{% url 'one_source' id=sub.source.id %}">
                    <img src="{{ sub.source.image_url }}" height="40" class="rounded" alt="Image">
                </a>
                {% endif %}

                <!-- source title -->
                <div class="flex-fill p-1 mx-1">
                    <a href="{% url 'one_source' id=sub.source.id %}">{{ sub.source.display_name }}</a>
                </div>

                <!-- button group -->
                <div class="btn-group" role="group" aria-label="First group">
                    <!-- unsubscribe button -->
                    <a href="{% url 'unsubscribe_source' id=sub.source.id %}" class="btn btn-primary">
                        <i class="bi bi-person-dash-fill"></i>
                    </a>
                    {% if perms.feeds.edit_source %}
                    <a href="{% url 'edit_source' id=sub.source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
