{% extends 'site_base/base.html' %}

{% block content %}
<div class="row">
  <div class="col-lg-8 mx-auto">

    <h2>
      Unsubscribe from <b>{{ sub.source.display_name }}</b> ?
    </h2>
    <form action="{% url 'unsubscribe_source' id=sub.source.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-dash-lg pe-1"></i>
        Unsubscribe
      </button>
      <button type="button" class="btn btn-primary" onclick="history.back()">
        <i class="bi bi-x-lg pe-1"></i>
        Cancel
      </button>
    </form>
  </div>
</div>
{% endblock %}
