<div class="card card-body">
  <div class="row">
    {% if entry.image_url %}
    <div class="col-md-2">
      <img class="card-img-top" src="{{ entry.image_url }}" alt="Card image cap">
    </div>
    {% endif %}

    <div class="col-md-auto">

      <!-- link to entry page -->
      <a href="{% url 'one_entry' entry_id=entry.id %}">
        <span>
          <h4>{{ entry.title }}</h4>
        </span>
      </a>

      <!-- credit -->
      <footer class="blockquote-footer mt-1">
        {% if entry.author %}
          {{ entry.author }} at 
        {% endif %}
        <a href="{% url 'one_source' id=entry.source.id %}" class="subtle">{{ entry.source.display_name }}</a>,
        {{ entry.created }}
      </footer>

    </div>
  </div>
</div>
