{% extends 'site_base/base.html' %}
{% load static %}
{% comment %} 
This template renders a page of feed entries

Requires the contect values for the standard paginator
{% endcomment %}

{% block content %}
<div class="row">
  <!-- folder menu -->
  <div class="col-lg-2">
    {% include "folders/sidebar/folder_menu.html" %}
  </div>

  <div class="col-lg-8 p-3">
    <!-- list of entries -->
    {% if page_obj.object_list %}
      {% for entry in page_obj.object_list %}
        {% include 'entries/entry_list_item.html' %}
      {% endfor %}
    {% else %}
      <div class="text-center p-5">
        <h2>[ Empty List ]</h2>
      </div>
    {% endif %}

  </div>
</div>

<!-- pagination -->
{% include 'site_base/paginator.html' %}
<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock %}

{% block extra_navbar_links %}
  <a href="{% url 'edit_folder' folder_id=folder.id %}" class="btn btn-dark btn-sm">
    <i class="bi bi-pencil-square"></i>
  </a>
{% endblock %}