{% load static %}

{% if form.errors.non_field_errors %}
<div class="alert alert-danger">
    {{ form.errors.non_field_errors }}
</div>
{% endif %}

<form hx-post="{% url 'new_feed' %}"
    hx-trigger="submit"
    hx-target="#search-results"
    hx-indicator="#new-feed-spinner"
    >
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-floating mb-3">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>

        {% if field.help_text %}
        <div class="row mb-3 ms-3">
            {{ field.help_text }}
        </div>
        {% endif %}

        {% if field.errors %}
        <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
        {% endif %}
    {% endfor %}
    {% block more_fields %}{% endblock %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="d-inline-flex gap-2">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save pe-1"></i>
            Save
        </button>
        <div id='new-feed-spinner'>
            <img class='loading-spinner' src="{% static 'loading.gif' %}">
        </div>
    </div>
</form>
