{% comment %}
A basic copy of the feed creation form that does not let the user change the source field values
{% endcomment %}
{% load static %}

{% if form.errors.non_field_errors %}
<div class="alert alert-danger">
    {{ form.errors.non_field_errors }}
</div>
{% endif %}

<form hx-post="{% url 'new_feed' %}"
    hx-trigger="submit"
    hx-target="#search-results"
    hx-indicator="#new-feed-spinner"
    >
    {% csrf_token %}
    <input type="hidden" id="feed_url" name="feed_url" value="{{ form.feed_url.value }}">

    <div class="text-center p-4">
        This feed is not in the database. Would You like to add it?
        
        <div class="d-inline-flex gap-2">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save pe-1"></i>
                Create
            </button>
            <div class='htmx-indicator' id='new-feed-spinner'>
                <img class='loading-spinner' src="{% static 'loading.gif' %}">
            </div>
        </div>
    </div>
</form>
