{% extends 'site_base/base.html' %}

{% block navbar_content %}
<div class="container-fluid m-0">
    <a href="{% url 'new_subscription' %}" class="btn btn-secondary"><i class="bi bi-plus-lg"></i></a>
</div>
{% endblock %}


{% block content %}
{% for sub in subscriptions %}
<div class="card">
    <div class="card-body">
        <a href="{% url 'source' source_id=sub.source.id %}" class="btn btn-secondary"><i class="bi bi-activity"></i></a>
        <a href="{{ sub.source.best_link }}" class="btn btn-secondary"><i class="bi bi-arrow-up-right"></i></a>
        <a href="{% url 'unsubscribe_source' source_id=sub.source.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        {{ sub.source.display_name }}
    </div>
</div>
{% endfor %}
{% endblock %}
