Django >= 4.2
psycopg2 >= 2.9
django-feed-reader >= 1.0
django-axes >= 5.41
pillow >= 9.5
gunicorn

git+ssh://git@github.com/ProgradeDV/django-user-management.git@main
git+ssh://git@github.com/ProgradeDV/django-feed-reader-extensions.git@main
