{% extends 'site_base/base.html' %}
{% load static %}

{% block content %}

<!-- list of all the sources -->
<div class="row">
  <div class="col-lg-8 mx-auto" id="search-results">
    <div class="d-flex gap-3 p-3 align-items-center">
      <h4>Name:</h4>
      {% include 'feeds_folders/edit_folder_name_form.html' %}
      <div class="vr"></div>
      <a class="btn btn-danger" href="{% url 'delete_folder' folder_id=folder.id %}">Delete</a>
    </div>

  {% for feed in all_feeds %}
    {% include "feeds_folders/feed_list_item.html" %}
  {% endfor %}

  </div>
</div>


<!-- pagination -->
{% include 'site_base/paginator.html' %}
<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock %}