{% extends 'site_base/base.html' %}
{% load bleach_tags %}
{% load static %}

{% block navbar_links %}
  {{ block.super }}
  {% if is_subed %}
    {% include "subscriptions/actions/unsubscribe_btn.html" with id=feed_id %}
  {% else %}
    {% include "subscriptions/actions/subscribe_btn.html" with id=feed_id %}
  {% endif %}
  </li>

  {% if request.user.is_superuser %}
  <li>
    <a class="nav-link" target="_blank" rel="noopener noreferrer" href="{% url 'admin:feeds_source_change' object_id=feed_id %}"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Settings" data-bs-delay="250">
      <i class="bi bi-gear"></i>
    </a>
  </li>
  {% endif %}

{% endblock navbar_links %}


{% block content %}
  <div class="row"
      hx-get="{% url 'feed_page_content' feed_id=feed_id %}"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML"
      hx-indicator="#loading-spinner"
  >
    <h3>loading...</h3>
    <div class='htmx-indicator' id='loading-spinner'>
  </div>
{% endblock content %}


{% block extra_body %}
<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock extra_body %}