{% comment %} 
This template is for rendering a list item that is an entry in a list of entries
{% endcomment %}
<div class="card card-body">
  <div class="row">
    {% if entry.image_url %}
    <div class="col-2 d-none d-sm-block">
      <a target="_blank" rel="noopener noreferrer" href="{% url 'entry_page' entry_id=entry.id %}">
        <img class="card-img-top" src="{{ entry.image_url }}" alt="Card image cap">
      </a>
    </div>
    {% endif %}

    <div class="col-auto">

      <!-- link to entry page -->
      <a href="{% url 'entry_page' entry_id=entry.id %}">
        <span>
          <h4>{{ entry.title }}</h4>
        </span>
      </a>

      <!-- credit -->
      <footer class="blockquote-footer mt-1">
        {% if entry.author %}
          {{ entry.author }} at 
        {% endif %}
        <a href="{% url 'one_feed' feed_id=entry.source.id %}" class="subtle">{{ entry.source.display_name }}</a>,
        {{ entry.created }}
      </footer>

    </div>
  </div>
</div>
