{% extends 'site_base/base.html' %}
{% load static %}

{% block content %}
<!-- search bar / form -->
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="d-flex m-2">

            <!-- new feed link -->
            <a href="{% url 'gen_feed' %}" class="btn btn-secondary mx-2"><i class="bi bi-plus-lg"></i></a>
            <input class="form-control" type="search"
                name="search_text" placeholder="Search Feeds"
                hx-post="{% url 'feeds_search' %}"
                hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
                hx-target="#search-results"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                >

        </div>
    </div>
</div>

<!-- list of all the feeds -->
<div class="row">
    <div class="col-lg-8 mx-auto" id="search-results">
    </div>
</div>

<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock %}
