{% extends 'site_base/base.html' %}
{% load static %}

{% block extra_navbar_links %}
<div class="btn-group me-2" role="group" aria-label="First group">
  <a href="{% url 'edit_folder' id=folder.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>

</div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-2">
    {% include "folders/folder_menu.html" %}
  </div>
  <div class="col-lg-8">
    {% for entry in page_obj.object_list %}
      {% include 'entries/entry_list_item.html' %}
    {% endfor %}
  </div>
</div>


<!-- pagination -->
{% include 'site_base/paginator.html' %}
<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock %}