{% extends 'site_base/base.html' %}

<!-- header -->
{% block navbar_title %}
<h1>RSS Sources</h1>
{% endblock %}

{% block content %}
<!-- search bar / form -->
<div class="row">
    <div class="col-lg-8 mx-auto">
        <form action="{% url 'all_sources' %}" method="post">
            {% csrf_token %}
            <div class="d-flex m-2">

                <!-- new source link -->
                <a href="{% url 'new_source' %}" class="btn btn-secondary mx-2"><i class="bi bi-plus-lg"></i></a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
                <input type="text" name="search_text" maxlength="512" class="form-control" placeholder="Search" title="" required=False id="id_search_text" 
                {% if form.search_text.value %}
                value="{{form.search_text.value}}"
                {% endif %}
                >

            </div>
        </form>
    </div>
</div>

<!-- list of all the sources -->
<div class="row">
    <div class="col-lg-8 mx-auto">
        {% for source in sources %}
        <div class="card card-body">

            <div class="btn-toolbar g-2" role="toolbar" aria-label="Toolbar with button groups">

                <!-- button group for normal user functions -->
                <div class="mx-1">
                    {% if source.image_url %}
                    <a href="{% url 'source' id=source.id %}">
                        <img src="{{ source.image_url }}" height="40" class="rounded" alt="Image">
                    </a>
                    {% endif %}
                </div>

                <!-- title -->
                <div class="flex-fill p-1 mx-1">
                    <a href="{% url 'one_source' id=source.id %}">{{ source.display_name }}</a>
                </div>

                <!-- button group for adminiatration functions -->
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if source in subed_sources %}
                    <a href="{% url 'unsubscribe_source' id=source.id %}" class="btn btn-secondary"><i class="bi bi-dash-lg"></i></a>
                    {% else %}
                    <a href="{% url 'subscribe_source' id=source.id %}" class="btn btn-light"><i class="bi bi-plus-lg"></i></a>
                    {% endif %}
                    
                    {% if perms.feeds.edit_source %}
                    <a href="{% url 'edit_source' id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
