{% extends 'site_base/base.html' %}

{% block extra_navbar_links %}
<div class="btn-group me-2" role="group" aria-label="First group">

  {% if is_subed %}
  <a href="{% url 'unsubscribe_source' id=source.id %}" class="btn btn-secondary"><i class="bi bi-dash-lg"></i></a>
  {% else %}
  <a href="{% url 'subscribe_source' id=source.id %}" class="btn btn-light"><i class="bi bi-plus-lg"></i></a>
  {% endif %}

  {% if perms.feeds.edit_source %}
  <a href="{% url 'edit_source' id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
  {% endif %}

</div>
{% endblock %}


{% block content %}
<div class="row pt-2">
  <div class="col-lg-8 mx-auto">

    <div class="row">

      {% if source.image_url %}
      <div class="col-md-2 mx-auto">
        <img class="card-img-top" src="{{ source.image_url }}" alt="Card image cap">
      </div>
      {% endif %}

      <!-- title -->
      <div class="col-md-10 mx-auto">
        <a href="{{ source.best_link }}">
          <h2 class="card-title">
            {{ source.display_name }}
          </h2>
        </a>

        {% if source.subtitle %}
        {{ source.subtitle }}
        {% endif %}

        <!-- title footer -->
        <footer class="blockquote-footer mt-1">
          Updated {{ source.last_polled }}
        </footer>
      </div>

    </div>

    <!-- list of posts -->
    {% for post in page_obj.object_list %}
    <div class="card card-body">
      <div class="row">

        {% if post.image_url %}
        <div class="col-md-2">
          <img class="card-img-top" src="{{ post.image_url }}" alt="Card image cap">
        </div>
        {% endif %}

        <div class="col-md-auto">
          <!-- link to post page -->
          <a href="{% url 'one_post' post_id=post.id %}">
            <span>
              <h4>{{ post.title }}</h4>
            </span>
          </a>

          <!-- credit -->
          <footer class="blockquote-footer mt-1">
            {% if post.author %}
            {{ post.author }}, 
            {% endif %}
            {{ post.created }}
          </footer>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<!-- pagination -->
{% include 'site_base/paginator.html' %}

{% endblock %}