{% extends 'site_base/base.html' %}
{% load static %}

{% block navbar_links %}
  {{ block.super }}
  <li>
    <a href="{% url 'folder_page' folder_id=folder.id %}" class="flex-sm-fill text-sm-center nav-link"
        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Back to Folder" data-bs-delay="250">
      <i class="bi bi-folder-check"></i>
    </a>
  </li>
{% endblock %}


{% block content %}
  <div class="d-flex gap-3 p-3 align-items-center">
    {% comment %} form for edit/delete {% endcomment %}
    <h4>Name:</h4>
    {% include 'folders/edit/edit_folder_name_form.html' %}
    <div class="vr"></div>

    {% include "folders/edit/delete_folder_btn.html" %}
  </div>

  {% comment %} feeds to add {% endcomment %}
  {% if all_feeds %}
    {% for feed in all_feeds %}
      {% include "folders/edit/feed_list_item.html" %}
    {% endfor %}
  {% else %}
    <div class="text-center p-5">
      <h2>[ Subscribe to Feeds to add  them to folders. ]</h2>
    </div>
  {% endif %}

  <!-- pagination -->
  {% include 'site_base/paginator.html' %}
{% endblock content %}


{% block extra_body %}
<script src="{% static 'htmx.min.js' %}" ></script>
{% endblock extra_body %}
