{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'site_base/style.css' %}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Open Feed Reader</title>
    {% endif %}

  </head>
  <body>
    {% comment %} header {% endcomment %}
    <div class="row bg-dark-subtle ">
      {% comment %} left items for general navigation {% endcomment %}
      <div class="col-md-4 col-9 ms3">
        <nav class="navbar">
          <ul class="nav nav-pills">
            {% comment %} designated zone for navbar links {% endcomment %}
            {% block navbar_links %}{% endblock %}
          </ul>
        </nav>
      </div>

      {% comment %} centered zone for titles {% endcomment %}
      <div class="col-md-4 d-none d-md-block text-center">
        {% block navbar_title %}<h1>{{ navbar_title }}</h1>{% endblock %}
      </div>

      {% comment %} Right items for uer account and admin functions {% endcomment %}
      <div class="col-md-4 col-3">
        <nav class="navbar justify-content-end mx-4">
          <ul class="nav">
            {% include "site_base/account_menu.html" %}
          </ul>
        </nav>

      </div>
    </div>

    {% comment %} alerts and messages {% endcomment %}
    <div class="container-flex">
      {% if messages %}
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          {% for message in messages %}
          <div class="alert alert-dismissible {{ message.tags }}" role="alert">
            <div>{{ message|linebreaks }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% comment %} page content {% endcomment %}
      {% block content %} <h1>Hello, world!</h1> {% endblock %}
    </div>

    <div class="min-vh-100">
      <div></div>
    </div>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
    <script src="{% static 'site_base/config.js' %}"></script>
  </body>
</html>
