{% extends "site_base/base_theme.html" %}
{% load static %}

{% block navbar_links %}

  <button class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <i class="bi bi-list"></i>
  </button>

  {% url 'all_subed_feed' as all_url %}
  <a class="nav-link {% if request.path == all_url %}active{% endif %}" href="{{all_url}}">
    <i class="bi bi-house"></i>
  </a>

  {% url 'subscriptions' as all_feeds_url %}
  <a class="nav-link {% if request.path == all_feeds_url %}active{% endif %}" href="{{all_feeds_url}}">
    <i class="bi bi-rss"></i>
  </a>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="offcanvas-body">
        {% include "folders/menu/folder_menu.html" %}
      </div>
    </div>
  </div>

{% endblock navbar_links %}
