{% extends 'site_base/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-8">

        {% if form.errors.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.errors.non_field_errors }}
        </div>
        {% endif %}

        <form action="{{ post_url }}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>

                {% if field.help_text %}
                <div class="row mb-3 ms-3">
                    {{ field.help_text }}
                </div>
                {% endif %}

                {% if field.errors %}
                <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}
            {% block more_fields %}{% endblock %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="container">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save pe-1"></i>
                    Save
                </button>
                {% block more_buttons %}{% endblock %}
                <button type="button" class="btn btn-secondary" onclick="history.back()">
                    <i class="bi bi-x-lg pe-1"></i>
                    Cancel
                </button>
                {% if delete_url %}
                <a href="{{ delete_url }}" class="btn btn-danger">
                    <i class="bi bi-trash3 pe-1"></i>
                    Delete
                </a>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}