<!-- pagination -->
{% if page_num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ request.path }}?page=1">First</a></li>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <button class="btn btn-secondary" aria-label="Previous"
                hx-get="{{ request.path }}?page={{ page_obj.previous_page_number }}"
                hx-swap="innerHTML"
                hx-trigger="click">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        {% endif %}

        {% for i in page_range %}
            {% if i == page_number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ i }}</span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}