{% extends 'site_base/base.html' %}
{% load bootstrap5 %}

{% block content %}
<form action="{% url 'all_sources' %}" method="post">
    {% csrf_token %}
    <div class="d-flex m-2">

        <input type="text" name="search_text" maxlength="512" class="form-control" placeholder="Search" title="" required=False id="id_search_text" 
        {% if form.search_text.value %}
        value="{{form.search_text.value}}"
        {% endif %}
        >
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
        </button>

    </div>
</form>

{% for source in sources %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                {% if source in subed_sources %}
                <a href="{% url 'unsubscribe_source' source_id=source.id %}" class="btn btn-primary"><i class="bi bi-dash-lg"></i></a>
                {% else %}
                <a href="{% url 'subscribe_source' source_id=source.id %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
                {% endif %}
                <a href="{% url 'source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-activity"></i></a>
                <a href="{{ source.best_link }}" class="btn btn-secondary"><i class="bi bi-arrow-up-right"></i></a>
                {% if perms.feeds.edit_source %}
                <a href="{% url 'edit_source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
                {% endif %}
                {% if perms.feeds.delete_source %}
                <a href="{% url 'delete_source' source_id=source.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                {% endif %}
            </div>
            <div class="col-sm-10">
                {{ source.display_name }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
