{% extends 'site_base/base.html' %}

{% block content %}
<!-- source info -->
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="btn-toolbar m-2" role="toolbar" aria-label="Toolbar with button groups">
            <div class="container-flex p-2">

                <div class="btn-group me-2" role="group" aria-label="First group">
                    {% if is_subed %}
                    <a href="{% url 'unsubscribe_source' source_id=source.id %}" class="btn btn-warning"><i class="bi bi-x-lg"></i></a>
                    {% else %}
                    <a href="{% url 'subscribe_source' source_id=source.id %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
                    {% endif %}
                    
                    <a href="{{ source.best_link }}" class="btn btn-secondary"><i class="bi bi-arrow-up-right"></i></a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="First group">
                    {% if perms.feeds.edit_source %}
                    <a href="{% url 'edit_source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
                    {% endif %}
                    
                    {% if perms.feeds.delete_source %}
                    <a href="{% url 'delete_source' source_id=source.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>
            </div>
            <h1>
                {{ source.display_name }}
            </h1>
        </div>
    </div>
</div>

<!-- list of posts -->
{% for post in page_obj.object_list %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card card-body">
            <!-- link to post page -->
            <a href="{% url 'post' post_id=post.id %}">
                <span>
                    <h5>{{ post.title }}</h5>
                </span>
            </a>
            <!-- credit -->
            <footer class="blockquote-footer mt-1">
                {% if post.author %}
                {{ post.author }} at 
                {% endif %}
                <a href="{% url 'source' source_id=post.source.id %}">{{ post.source.name }}</a>,
                {{ post.created }}
            </footer>
        </div>
    </div>
</div>
{% endfor %}

<!-- pagination -->
{% if num_pages > 1 %}
<div class="row">
    <div class="col-lg-8 mx-auto my-4">

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{% url 'source' source_id=source.id %}?page=1">First</a></li>
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'source' source_id=source.id %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for i in page_range %}
                    {% if i == page_number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'source' source_id=source.id %}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'source' source_id=source.id %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        
    </div>
</div>
{% endif %}

{% endblock %}