{% extends 'site_base/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="container-fluid m-2">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    {% if source in subed_sources %}
                    <a href="{% url 'unsubscribe_source' source_id=source.id %}" class="btn btn-warning"><i class="bi bi-x-lg"></i></a>
                    {% else %}
                    <a href="{% url 'subscribe_source' source_id=source.id %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
                    {% endif %}

                    <a href="{% url 'source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-body-text"></i></a>
                    <a href="{{ source.best_link }}" class="btn btn-secondary"><i class="bi bi-arrow-up-right"></i></a>
                </div>
                <div class="btn-group me-2" role="group" aria-label="First group">
                    {% if perms.feeds.edit_source %}
                    <a href="{% url 'edit_source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
                    {% endif %}
                    
                    {% if perms.feeds.delete_source %}
                    <a href="{% url 'delete_source' source_id=source.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>
            </div>
            <h1>
                {{ source.display_name }}
            </h1>
        </div>
    </div>
</div>

{% for post in posts %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <!-- link to post page -->
                <a href="{% url 'post' post_id=post.id %}">
                    <span>
                        <h5>{{ post.title }}</h5>
                    </span>
                </a>
                <!-- credit -->
                <footer class="blockquote-footer mt-1">
                    {% if post.author %}
                    {{ post.author }},
                    {% endif %}
                    {{ post.created }}
                </footer>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}