{% extends 'site_base/base.html' %}

{% if perms.feeds_extentions.add_source %}
{% block navbar_content %}
<div class="container-fluid m-0">
    <a href="{% url 'new_source' %}" class="btn btn-secondary"><i class="bi bi-plus-lg"></i></a>
</div>
{% endblock %}
{% endif %}


{% block content %}
{% for source in sources %}
<div class="card">
    <div class="card-body">
        <a href="{{ source.site_url }}" class="btn btn-secondary"><i class="bi bi-arrow-up-right"></i></a>
        {{ source.name }}
        {% if perms.feeds_extentions.edit_source %}
        <a href="{% url 'edit_source' source_id=source.id %}" class="btn btn-secondary"><i class="bi bi-gear"></i></a>
        {% endif %}
        {% if perms.feeds_extentions.delete_source %}
        <a href="{% url 'delete_source' source_id=source.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
