{% extends 'site_base/base.html' %}
{% load static %}
{% comment %} 
This template renders a page of feed entries

Requires the contect values for the standard paginator
{% endcomment %}

{% block content %}
  {% comment %} list of entries {% endcomment %}
  {% if page_obj.object_list %}
    {% for entry in page_obj.object_list %}
      {% include 'entries/entry_list_item.html' %}
    {% endfor %}
    {% include 'site_base/paginator.html' %}
  {% else %}
    <div class="text-center p-5">
      <h2>[ Empty List ]</h2>
    </div>
  {% endif %}

  <script src="{% static 'htmx.min.js' %}" ></script>
{% endblock %}
