a:link {
    color: var(--bs-emphasis-color);
    text-decoration: none;
}

a:visited:not(.btn)  {
    color: var(--bs-body-color);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a.subtle {
    color: var(--bs-body-color);
}

.htmx-indicator{opacity:0}
.htmx-request .htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}
.htmx-request.htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}

img.loading-spinner {
    width: 40px;
    height: auto;
}
